# Next.js
.next/
out/

# 依赖
node_modules/
.pnp/
.pnp.js

# 构建文件
*.tsbuildinfo

# 环境变量
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# 调试日志
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# 编辑器配置
.idea/
.vscode/
*.swp
*.swo

# 操作系统文件
.DS_Store
Thumbs.db
DOCS/横版提示词（原始版）.txt
DOCS/竖版提示词（原始版）.txt
DOCS/提示词（原始版）.txt
DOCS/prompt-templates/横版提示词.txt
DOCS/prompt-templates/A4横版提示词.txt

.env.example
DOCS/prompt-templates/横版提示词-精简版.txt
DOCS/prompt-templates/A4横版提示词-精简版.txt
DOCS/prompt-templates/横版提示词-精简版.md
DOCS/prompt-templates/横版提示词.md
DOCS/prompt-templates/A4横版提示词.md
DOCS/prompt-templates/A4横版提示词-精简版.md
